<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-5">
        <i class="bi bi-pencil"></i>
        Edición de Articulo
        <i class="bi bi-person-circle"></i>
      </h2>

      <form [formGroup]="oArticuloForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly />
            <mat-hint align="end">No se puede cambiar</mat-hint>
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" />
            <mat-hint align="end">De 3 a 255 caracteres</mat-hint>
            @if (oArticuloForm?.get('nombre')?.hasError('required')) {
            <mat-error>Debes introducir un nombre</mat-error>
            } @if (oArticuloForm?.get('nombre')?.hasError('minlength')) {
            <mat-error>Debes introducir un nombre más largo</mat-error>
            } @if (oArticuloForm?.get('nombre')?.hasError('maxlength')) {
            <mat-error>Debes introducir un nombre más corto</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input
              matInput
              formControlName="descripcion"
              placeholder="Descripcion"
            />
            <mat-hint align="end">De 3 a 255 caracteres</mat-hint>
            @if (oArticuloForm?.get('descripcion')?.hasError('required')) {
            <mat-error>Debes introducir una descripcion</mat-error>
            } @if (oArticuloForm?.get('descripcion')?.hasError('minlength')) {
            <mat-error>Debes introducir una descripcion más larga</mat-error>
            } @if (oArticuloForm?.get('descripcion')?.hasError('maxlength')) {
            <mat-error>Debes introducir una descripcion más larga</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Precio</mat-label>
            <input
              matInput
              formControlName="precio"
              placeholder="Precio"
            />
          </mat-form-field>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-warning mt-4 mx-1"
            [routerLink]="['/admin', 'articulo', 'plist']"
          >
            <i class="bi bi-list"></i>
            Ir a listado de articulos
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button
            class="btn btn-primary mt-4 mx-1"
            type="submit"
            [disabled]="!oArticuloForm?.valid"
          >
            <i class="bi bi-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proyecto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

